* {
    box-sizing: border-box;              
}

.dangnhapdangki{
    width: 300px;
    margin: 100px auto;
}
.dangnhapdangki button:first-child{
    margin-right: 20px;
}
.dangnhapdangki button:first-child{
    width: 130px;
}
.dangnhapdangki div{
    width: 200px;
    margin: 0px auto;
    color: red;
    margin-top: 50px;
    font-size: 22px;
}


.container1 {
    width: 1200px;
    margin: 0 auto 0 auto;
    color: white;
}


.banner {
    width: 1200px;
    height: 150px;
    position: fixed;
    background-color: #FFFFE0; 
    z-index: 3;             
} 
.banner button {  
    float: right;
    margin: 40px 5px 0 5px;
    width: 130px;
}  
.banner img {
    float: left;
    width: 200px;
    margin: 20px 0 0 10px;
}
.banner button:hover{
    background-image: -webkit-linear-gradient(40deg,red 0%, yellow 100%);
}
.menu{
    margin-top: 100px;
    clear: both;
    width: 1200px;
    height: 40px;
}

.menu li{
    float: left;
    list-style: none;
}
.menu a{
    display: block;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    padding: 0 5px;
    margin-right: 10px;
    color: #B22222;
    font-weight: bold;
    text-decoration: none;
    transition:0.2s ease-in-out;
}
.menu a:hover{
    color: #00CED1;
    font-size: 30px;
    transition:0.2s ease-in-out;
}
.than{
    clear: both;
    margin-top: 200px;
    width: 1200px;
}
.table{
    width: 1200px;
}
tbody{
    border: 1px solid black;
}
th{
    background-color: #4682B4;
    color: white;
}
.tong{
    float: right;
    color: black;
    font-weight: bold;
    margin-top: 50px;
}
.tong span{
    font-size: 30px;
    margin-right: 50px;
}
.tong button{
    width: 100px;
    margin: 0 20px 20px 0;
}